body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border-top: 3px dashed gray;
}

h1,
h2 {
    text-align: center;
    color: #000000;
}

ul.prof {
    display: block;
    list-style-type: disclosure-open;
}

ul .response {
    display: block;
    list-style-type: square;
}

footer {
    padding: 20px;
    bottom: 0;
}